body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f3f4f6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar ul li a:hover,
.active {
    color: #00d4ff;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00d4ff;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.project-card {
    display: inline-table;
    background: grey;
    width: 550px;
    height: 150px;
    padding: 20px;
    margin: 10px 15px;
    border-radius: 10px;
}

.content {
    padding: 40px;
}