body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f3f4f6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navbar ul li a:hover,
.active {
    color: #00d4ff;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    text-align: center;
}

.hero span {
    color: #00eaff;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00d4ff;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.content {
    padding: 40px;
}

.project-card {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.media {
    height: 40px;
    width: 40px;
    border-radius:50%;
    margin: 10px;
}

.blog {
    height: 200px;
    width: 250px;
    border-radius: 30px;
}

.container {
      max-width: 900px;
      margin: 40px auto;
      background: white;
      padding: 40px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h1, h2, h3 {
      margin-bottom: 10px;
    }

    .header {
      text-align: center;
      border-bottom: 2px solid #4CAF50;
      padding-bottom: 20px;
    }

    .header h1 {
      font-size: 36px;
      margin: 0;
    }

    .header p {
      font-size: 16px;
      color: #666;
    }

    .section {
      margin-top: 30px;
    }

    .section h2 {
      color: #4CAF50;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }

    .item {
      margin-bottom: 20px;
    }

    .item h3 {
      margin: 0;
      font-size: 18px;
    }

    .item p {
      margin: 5px 0;
      font-size: 14px;
    }

    .skills {
      display: flex;
      flex-wrap: wrap;
    }

    .skill {
      background: #4CAF50;
      color: white;
      padding: 6px 12px;
      margin: 5px;
      border-radius: 20px;
      font-size: 14px;
    }
